<md-expansion-panel *ngFor="let wallet of walletService.all() | async">
  <md-expansion-panel-header>
    <md-panel-title>
      {{ wallet.meta.label }} - {{ wallet.balance }}
    </md-panel-title>
    <md-panel-description>
      This is a summary of the content
    </md-panel-description>
  </md-expansion-panel-header>
  <app-address-detail [wallet]="wallet"></app-address-detail>
</md-expansion-panel>
<div class="button-line">
  <a md-raised-button color="primary" (click)="addWallet()">Add wallet</a>
</div>
