<md-toolbar color="primary">
  <span>Skycoin</span>
  <span><app-breadcrumb></app-breadcrumb></span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <span>{{ walletService.sum() | async | sky }}</span>
  <button md-button>Settings</button>
</md-toolbar>
<md-toolbar>
  <button md-button [routerLink]="['/wallets']">Wallets</button>
  <button md-button [routerLink]="['/send']">Send</button>
  <button md-button [routerLink]="['/history']">History</button>
  <button md-button [routerLink]="['/explorer']">Explorer</button>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <span>Search field</span>

</md-toolbar>
<div class="sky-container">
  <router-outlet></router-outlet>
</div>
