<header>
  <div class="header-container">
    <h1>Confirmed Balance {{ walletService.sum() | async | sky }}</h1>
  </div>
</header>

<md-card class="example-card">
  <md-card-header>

  </md-card-header>
  <md-card-content>
    <md-tab-group>
      <md-tab label="Wallets">
        <app-wallets></app-wallets>
      </md-tab>
      <md-tab label="Send">
        <app-send-skycoin></app-send-skycoin>
      </md-tab>
      <md-tab label="History">
        <app-history></app-history>
      </md-tab>
      <md-tab label="Explorer">
        <h1>Todo: add Explorer</h1>
        <p>...</p>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
